<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <sectionGroup name="languages" type="System.Configuration.NameValueSectionHandler">
      <section name="Spanish" type="System.Configuration.SingleTagSectionHandler" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AppMainNamespace" value="GeneXus.Programs" />
    <add key="DataStore1" value="Default" />
    <add key="DataStore-Count" value="1" />
    <add key="Connection-Default-DBMS" value="postgresql" />
    <add key="Connection-Default-Port" value="5432" />
    <add key="Connection-Default-LockTimeout" value="0" />
    <add key="Connection-Default-LockRetryCount" value="10" />
    <add key="Connection-Default-Datasource" value="HM92/d8lb3452PY5xju9Nj==" />
    <add key="Connection-Default-User" value="7/Djz74Du4rYEK7fmyiZmC==" />
    <add key="Connection-Default-Password" value="1mCujclg07E3MQI7UpBG0p==" />
    <add key="Connection-Default-DB" value="postgres" />
    <add key="Connection-Default-Opts" value=";Integrated Security=no;" />
    <add key="Connection-Default-TrnInt" value="1" />
    <add key="DateFormat" value="DMY" />
    <add key="YearLimit" value="1940" />
    <add key="TimeAmPmFormat" value="24" />
    <add key="VER_STAMP" value="20211230.172934" />
    <add key="CS_BLOB_PATH" value="PublicTempStorage" />
    <add key="TMPMEDIA_DIR" value="PrivateTempStorage" />
    <add key="PRINT_LAYOUT_METADATA_DIR" value="LayoutMetadata" />
    <add key="StorageTimeZone" value="1" />
    <add key="LOGIN_AS_USERID" value="0" />
    <add key="LANGUAGE" value="spa" />
    <add key="LANG_NAME" value="Spanish" />
    <add key="DECIMAL_POINT" value="," />
    <add key="DATE_FMT" value="DMY" />
    <add key="CTOD_DATE_FMT" value="L" />
    <add key="Culture" value="es-ES" />
    <add key="Theme" value="Flat" />
    <add key="EnableIntegratedSecurity" value="0" />
    <add key="MAX_CURSOR" value="100" />
    <add key="ISOLATION_LEVEL" value="CR" />
    <add key="STATIC_CONTENT" value="" />
    <add key="GX_BUILD_NUMBER" value="115824" />
    <add key="CACHE_CONTENT_EXPIRATION" value="36" />
    <add key="ENABLE_MANAGEMENT" value="0" />
    <add key="COMPRESS_HTML" value="1" />
    <add key="IE_COMPATIBILITY_VIEW" value="EmulateIE7" />
    <add key="DocumentType" value="HTML5" />
    <add key="SMART_CACHING" value="0" />
  </appSettings>
  <languages>
    <Spanish code="spa" time_fmt="24" decimal_point="," thousand_sep="." date_fmt="DMY" culture="es-ES" />
  </languages>
  <log4net threshold="OFF">
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="client.log" />
      <appendToFile value="true" />
      <maximumFileSize value="9000KB" />
      <maxSizeRollBackups value="4" />
      <rollingStyle value="Size" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss,fff} [%t] %-5p %c - %m%n" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+ExclusiveLock" />
    </appender>
    <appender name="ASPNetTraceAppender" type="log4net.Appender.ASPNetTraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss,fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="BufferingForwardingAppender" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="50" />
      <lossy value="true" />
      <appender-ref ref="RollingFile" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <system.web>
    <trace enabled="false" />
    <httpHandlers>
      <add verb="*" path="*.aspx" type="GeneXus.HttpHandlerFactory.HandlerFactory,gxclasses" />
    </httpHandlers>
    <compilation>
      <assemblies>
        <remove assembly="GXWebSocket" />
        <remove assembly="Microsoft.WebSockets" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <client />
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services />
    <extensions>
      <behaviorExtensions>
        <add name="customWebHttp" type="GeneXus.Utils.CustomHttpBehaviorExtensionElement, GxClasses, Version=10.1.0.0, Culture=neutral, PublicKeyToken=6f5bf81c27b6b8aa" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceDefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="CustomBinding" maxReceivedMessageSize="10485760">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxStringContentLength="10485760" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="CustomBinding" maxReceivedMessageSize="10485760">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxStringContentLength="10485760" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".tmp" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".tmp" mimeType="image/jpeg" />
    </staticContent>
    <modules />
  </system.webServer>
</configuration>